%p
  Number of jobs currently open:
  %strong= @n_jobs_open

%p
  Total number of applications:
  %strong= @n_applications

%p
  Number of applications you have not read:
  %strong= @n_applications_unread
