<fieldset>
  <ol>
  <li>
  <label class='simple_captcha_label'>
    <%= simple_captcha_options[:label] %>
  </label>
    <%= simple_captcha_options[:image] %>
  </li>
  <li>
  <label></label>
    <%= simple_captcha_options[:field] %>
  </li>
  </ol>
</fieldset>
