%h1 Listing jobs

%table
  %tr
    %th Title
    %th Description
    %th Status
    %th

  - @jobs.each do |job|
    %tr
      %td= job.title
      %td= job.description
      %td= job.status
      %td= link_to 'Show', pub_job_path(job)

