- content_for :head do
  :javascript
    $(function(){
      $('#job_title, #apt_status').change(function(){
        $('#job_filter').submit();
      })
    })
    
%h1 Listing applicants

%br
%h2 Filter options

- form_tag(filter_applicants_path, :method => :get, :remote => true, :id => 'job_filter') do
  %p 
    Job title:
    = select_tag :job_title, job_filter_collection
  %p 
    Status:
    = select_tag :apt_status, apt_status_filter_collection

#applicants
  = render :partial => 'applicants', :locals => { :applicants => @applicants}



      
