= content_for :heading do
  %h1 Message templates

- unless @templates.blank?
  %h2 Edit existing templates
  %ul{:style => "margin-bottom: 30px"}
    - @templates.each do |t|
      %li= link_to t.subject, edit_config_message_template_path(t)

%h2 Create new message template

= render :partial => "form"
