%h1 Job Stages

%ul{:id => 'sortable'}
  - @job_stages.each do |job_stage|
    %li{:id => "order_#{job_stage.id}"}
      %span{:class => 'editable col1'}= job_stage.name
      %span{:class => 'col2'}= link_to image_tag("delete-icon.png"), config_job_stage_path(job_stage), :confirm => 'Are you sure?', :method => :delete

.clear

.button
  = link_to 'New job stage', new_config_job_stage_path

:erb
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.editable').inlineEdit({
        save: function(e, data) {
          $.ajax({
            type: 'PUT',
            url: '/config/job_stages/' + e.currentTarget.id,
            data: {
              'job_stage[name]' : data.value,
              'authenticity_token' : '<%= form_authenticity_token %>'
            }
          })
        }
      })
      
      $('#sortable').sortable({
        update: function(e, data) {
          var order = $('#sortable').sortable('serialize');
          $.ajax({
            type: 'POST',
            url: '/config/job_stages/order',
            data: order,
            success: function(data){
            }
          })
        }
      });
    })
  </script>
