/** YUI 2 reset **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/** Single-element rules **/

body {
  min-width: 760px;
  margin: 0 2em;
  background: #e5e5e5;
  font: 16px/1.25 Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #1f2f2f;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.35em;
  color: #444;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.15em;
  color: #696969;
  margin-bottom: 10px;
}

a { color: #4682b4; }
a:visited { color: #5f9ea0; }
a .ui-button-text { color: #212121; }

em { font-variant: italic; }
strong { font-weight: bold; }

p {
  max-width: 42em;
  margin-bottom: 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-family: monospace;
}

table { width: 100%; }
td { padding: 5px; }
th { font-weight: bold; padding: 5px; }

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}

.ui-widget  {
  font: 16px/1.25 Arial, Helvetica, sans-serif;
}

/** Sections definitions **/

#header {
  margin-top: 1em;
  margin-bottom: .75em;
  padding: 0 2em;
  background: #4169e1;
  color: #ddd;
  overflow: hidden;
}

table#container {
  width: 100%;
}
table#container > tbody > tr > td { padding: 0; }

table#container td#maincol {
  min-width: 600px;
  -moz-box-shadow: 2px 2px 12px #bbb;
  -webkit-box-shadow: 2px 2px 12px #bbb;
  box-shadow: 2px 2px 12px #bbb;
}

table#container td#sidebar {
  width: 200px;
  padding: 2% 2% 2% 2%;
  vertical-align: top;
}

#heading {
  background: #faf0e6;
  color: #000;
}
#heading h1 {
  font-size: 1.15em;
  display: inline-block;
  margin: 0.65em 0 .45em 2em;
}

#content {
  min-height: 480px;
  padding: 1.5em 4em 4em 2em;
  background: #fff;
}

#footer {
  margin-top: 1em;
  padding: 0 0 1.5em .5em;
  font-size: 85%;
  color: #aaa;
}

#flashes {
  text-align: center;
  width: 100%;
  margin-bottom: .75em;
}

#notice, #alert {
  display: inline-block;
  font-size: 92.5%;
  padding: 2px 5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border--radius: 5px;
}

#notice { color: #444; background: #ffffe0; }
#alert { color: white; background: red; }

/** Rest **/

.right { float: right; }
.left { float: left; }

a > img { vertical-align: middle; }

#header .links { padding-top: 10px; font-size: 92.5%; }

#header .tabs { font-size: 92.5%; display: block; }
#header .tabs li {
  display: inline;
  margin: 0 2px 0 0;
  padding: .5em;
  line-height: 2em;
  background: #c0c0c0;
}
#header .tabs .right li { margin: 0 0 0 2px; }

#header .tabs .current {
  font-weight: bold;
  font-size: 95%;
  background: #e5e5e5;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px #fff;
}

#header .links a, #header .links a:visited { color: #ddd; }
#header .tabs a, #header .tabs a:visited { color: #444; text-decoration: none; }

#sidebar h2 { border-bottom: solid 1px #ccc; }
#sidebar ul { margin-bottom: 20px; }
#sidebar ul li {
  display: block;
  padding: 5px 0;
}
#sidebar ul form#job_filter li span { display:block; width:30%; float:left; padding:2px;}

#heading a.ui-button { display: inline-block; margin: .4em 4em .4em 0; }
#heading a .ui-button-text { font-size: 90%; padding: .3em 1em; }

#content ul#sortable {
  margin-bottom: 50px;
}

#content ul#sortable .col1{
  float: left;
  width: 60%;
  padding: 5px;
  border-bottom: 1px solid #5f9ea0;
}

#content ul#sortable .col11{
  float: left;
  width: 80%;
}

#content ul#sortable .col2{
  float: left;
  display: block;
  padding: 5px 20px;
}

#content ul#sortable li {
  float: left;
  width: 100%;
}


#content ul#sortable .col12, .col13, .col14 {
  float: left;
  width: 30px;
}

#header h1#title {
  color: #f5f5dc;
  font-size: 2em;
  line-height: 1;
  padding: .25em 0 .5em 0;
  display: block;
}

ol.activities li { maxwidth: 41em; margin-bottom: 2em; }
ol.activities li p.comment { margin: .5em 0; font-size: 95%; }
ol.activities li td { padding: 0; }
ol.activities li table.threecol td:firstchild { width: 33%; }
ol.activities li table.twocol td { width: 33%; }
ol.activities li td span.actor { color: #4682b4; }
ol.activities li td span.time { fontsize: 80%; font-size: 95%; }
ol.activities li span.status { fontsize: 80%; fontweight: bold; }
ol.activities li span.arrow { fontweight: bold; margin: 0 10px; }
ol.activities li .statusbox {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  padding: 1px 5px;
}

ul.buttons-nav li .ui-button-text { padding: 0.25em 0.75em; }

ul.selectors-nav {list-style:none; overflow:auto; padding:10px 0;}
ul.selectors-nav li {display:block; float:left;}
ul.selectors-nav li.selector:hover {cursor:pointer;}
ul.selectors-nav li.selector {color:#0099ff;}

table.applicants td { font-size: 92%; }
table.applicants tr.unread { font-weight: bold; background: #ffffe0; }
table.applicants tr.read { color: #808080; background: #fffafa; }
table.applicants th:nth-child(3) { padding-left: 10px; }
table.applicants td:nth-child(3) { padding-left: 10px; }
table.applicants .statusbox {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  padding: 1px 5px;
  margin-right: 5px;
}
table.applicants tr {border:1px solid #ccc;}
table.applicants tr.title {background-color:#ddd;}
table.applicants td.checkbox, .star {width:10px;}
table.applicants td.name a {text-decoration:none;}

#content ul.actions li { display: inline;  padding: 5px; }

table.details { width: 50%; clear: right; margin-bottom: 25px; }
table.details th { font-weight: bold; }
table.details th:nth-child(1) { width: 7.5em; }
table.details tr { border-bottom: solid 1px #c0c0c0; }

#jstabs.ui-widget {
  margin-top: 30px;
  font: 16px/1.25 Arial, Helvetica, sans-serif;
  min-height: 240px;
  border: none;
}

#tab1.ui-tabs-panel {
  padding-left: 0;
}

table.activities { margin-bottom: 20px; }
table.activities p { font-size: 95%; padding: 0 10px }
table.activities td { padding: 10px; }
table.activities .meta {
  font-size: 95%;
  background-color: #cdcdcd;
  -moz-border-radius: 15px 0 15px 0;
  -webkit-border-radius: 15px 0 15px 0;
  border--radius: 15px 0 15px 0;
  padding: 3px 15px;
  margin-bottom: 10px;
}
table.activities .meta .actor { display: inline; }
table.activities .meta .time { display: inline; float: right; }
table.activities .action { margin: 5px 0; }
table.activities .ui-icon { display: inline-block; vertical-align: middle; }
table.activities .statusbox {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  font-weight: normal;
  padding: 1px 5px;
}
table.activities .status { font-weight: bold; font-size: 85%; }

form fieldset.ui-buttonset .ui-button-text { font-size: 95%; padding: .25em 1em; }

form.edit_job th, form.new_job th { width: 7.5em; font-weight: normal; }
form.edit_job th, form.edit_job td, form.new_job th, form.new_job td  { padding-bottom: 1em; }

form.edit_message_template th,
form.new_message_template th {
	width: 30%; font-weight: normal;
}

form table th .help { font-size: 85%; }

form.edit_message_template th,
form.edit_message_template td,
form.new_message_template th,
form.new_message_template td  {
	padding-bottom: 1em;
}

form#new_activity label { font-size: 90%; font-weight: bold; display: block; margin-bottom: 5px; }
form#new_activity li { margin-bottom: .25em; }
form#new_activity table { margin-left: 10px; }
form#new_activity table td:nth-child(2) { width: 160px; }
form#new_activity input[type=submit] { margin-top: 20px; }
form#new_activity .statusbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
  font-weight: normal;
  padding: 1px 5px;  
}

.jstab ul.attachments { list-style-type: square; list-style-position: inside; margin-bottom: 20px; }
.jstab ul.attachments a { text-decoration: none; color: #4682b4; }

table.jobs .col1 { width: 20%; font-weight: bold;}

html form.formtastic fieldset { display: block; }
html form.formtastic fieldset > ol > li { display: block; }
form.formtastic input.ui-button { padding:0.4em 1em; }

div.field, div.actions {
  margin-bottom: 10px;
}

span.pseudo_link { color:#5F9EA0; text-decoration:underline; }

.field_with_errors {
  border: 2px solid red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul {padding:10px;}

#error_explanation ul li {
  font-size: 12px;
  list-style: square inside;
}

#footer a, #footer a:visited {
  color: #666;
}
.box_wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.box {
  border: 1px solid #CCC;
  overflow: auto; 
  min-height: 150px;
  max-height: 300px;
  padding: 10px;
  margin-top: 10px;
}
.viewer {
  border: 1px solid #CCC; 
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.converted {
  background-color: #DFFFF2;
}
.messages a {
  text-decoration: none;
}
#cover_letter {
  text-decoration: none;  
}
.info {
  background-color: #EFF8FF;
  border: 1px solid #7FC6FF;
  padding: 10px;
}
#nav-wrapper .selectors-nav {
  float: left;
}
#nav-wrapper .per_page {
  float: right;
  padding: 10px 0; 
}
/* pagination */
div.pagination {
	padding: 3px;
	margin-top: 8px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	text-decoration: none; /* no underline */
	color: #000099;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;
	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
}
div.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #EEE;
  color: #DDD;
}
.warning {
  border: 2px solid #FFE59F;
  background: #FFF6DF;
  padding: 10px;
  margin-bottom: 10px;
}
.conversation {
  margin-bottom: 10px;
  border-bottom: 1px dotted #CCC;
}
.conversation .icon {
  float: left;
  width: 40px;
  margin-right: 10px;
}
.conversation .msg {
  padding-top: 5px;
  float:left;
}
