/** YUI 2 reset **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/** Site **/

body {
  min-width: 760px;
  margin: 0 2em;
  background: #e5e5e5;
  font: 16px/1.25 Helvetica, Arial, sans-serif;
}

#header {
  margin-top: 1em;
  padding: 0 2em;
  background: #4169e1;
  color: #ddd;
}

#container {
  float: left;
  width: 100%;
  margin-bottom: 1em;
}

#content, #content-full {
  background: #fff;
  -moz-box-shadow: 0px 2px 8px #bbb;
  -webkit-box-shadow: 0px 2px 8px #bbb;
  box-shadow: 0px 2px 8px #bbb;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
}

#sidebar {
  float: right;
  width: 22%;
  padding: 2em 2em 2em 1em;
}

#content {
  width: 64%;
  padding: 2em;
  min-height: 480px;
}

#content-full {
  min-height: 480px;
  padding: 2em;
}

#footer {
  padding: 0 0 1em 2.5em;
  font-size: 85%;
  color: #aaa;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}

#header .right { float: right; }
#header .left { float: left; }

#header .links { padding-top: 10px; font-size: 92.5%; }
#header .tabs { font-size: 92.5%; }
#header .tabs li {
  display: inline;
  padding: .5em;
  line-height: 2em;
  background: #fff;
}

#header .tabs ol.right li {
  background: #e5e5e5;
}

#header .links a, #header .links a:visited { color: #ddd; }
#header .tabs a, #header .tabs a:visited {
  color: #444;
  text-decoration: none;
}

#content h1, #content-full h1 {
  font-size: 1.75em;
  line-height: 1;
  color: #1f2f2f;
  padding-bottom: 1em;
}

h1#title {
  color: #f5f5dc;
  font-size: 2em;
  line-height: 1;
  padding: .25em 0 .5em 0;
  display: block;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  color: #696969;
  margin-bottom: 10px;
}

a { color: #4682b4; }
a:visited { color: #5f9ea0; }

#content p, #content-full p { margin-bottom: 10px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-family: monospace;
}

table { width: 100%; }

th { font-weight: bold; padding-bottom: 5px; }

div.field, div.actions {
  margin-bottom: 10px;
}

#sidebar h2 { border-bottom: solid 1px #ccc; }
#sidebar ul { margin-bottom: 20px; }
#sidebar ul li {
  display: block;
  padding: 5px 0;
}

#flashes { margin: 10px 0; padding: 5px 0; }
#flashes p { max-width: 28em; }

#notice { color: green; }
#alert { color: red; }

table.applicants td { padding: 5px 0 }
table.applicants tr.unread { font-size: 95%; font-weight: bold; background: #fffff0 }
table.applicants tr.read { color: #808080; background: #fffafa; }

html form.formtastic fieldset { display: block; }
html form.formtastic fieldset > ol > li { display: block; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#footer a, #footer a:visited {
  color: #666;
}
